{% extends 'itawAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} &middot; Dashboard{% endblock %}

{% block currentPage %}dashboard{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Accessors</h3>
                </div>

                {% if accessors|length() > 0 %}

                    <table class="table table-striped">
                        {% for accessor in accessors %}
                            <tr>
                                <td>
                                    <a href="{{ path('accessors_object', {accessorId: accessor.id}) }}">
                                        {{ accessor.username }}
                                    </a>
                                </td>
                                <td>{{ accessor.email }}</td>
                                <td>
                                    {% if accessor.active %}
                                        <span class="label label-success label-sm">Active</span>
                                    {% else %}
                                        <span class="label label-warning label-sm">Inactive</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                {% else %}

                    <div class="panel-body">
                        No Accessors configured yet!
                        <a class="btn btn-xs btn-success pull-right"
                           href="{{ path('accessors_create') }}">
                            <i class="fa fa-plus"></i>
                            Add One!
                        </a>
                    </div>

                {% endif %}
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-location-arrow"></i> Current Domain</h3>
                </div>

                <div class="panel-body">
                    <strong>{{ app.request.host }}</strong>
                    <a class="btn btn-xs btn-success pull-right{% if app.request.host == 'localhost' %} disabled{% endif %}"
                       href="{{ path('domains_collection', {name: app.request.host}) }}">
                        <i class="fa fa-gears"></i>
                        Configure
                    </a>
                </div>
            </div>

        </div>

        <div class="col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-flag-checkered"></i> Domains</h3>
                </div>

                {% if domains|length() > 0 %}

                    <table class="table table-striped">
                        {% for domain in domains %}
                            <tr>
                                <td>
                                    <a href="">{{ domain.name }}</a>
                                    {% if domain.active %}
                                        <span class="label label-success label-sm pull-right">Active</span>
                                    {% else %}
                                        <span class="label label-warning label-sm pull-right">Inactive</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                {% else %}

                    <div class="panel-body">
                        No Domains configured yet!
                        <a class="btn btn-xs btn-success pull-right"
                           href="{{ path('domains_create') }}">
                            <i class="fa fa-plus"></i>
                            Add One!
                        </a>
                    </div>

                {% endif %}
            </div>

        </div>

        <div class="col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-flash"></i> Access (Total)</h3>
                </div>

                <div class="panel-body">
                    #
                </div>
            </div>

        </div>

    </div>

{% endblock %}